In [17]:
#此代码接特征提取代码，旨在得到能用来机器学习的特征代码

In [18]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
import numpy as np
import math

In [19]:
#1.1 读取数据
data = pd.read_excel('../data/特征提取ffffffinal.xlsx')

#提取需要处理的特征，其余特征扔掉(包括单词本身)
df2 = data[['1 try','2 tries','3 tries','4 tries','5 tries','6 tries','7 or more tries (X)',
'tags','week','char1','char2','char3','char4','char5','Word feq','Vowels nums','Combined nums','Letter feq','Letter rep']]

In [20]:
# 1.2 特征工程

#添加时间特征
df2['month'] = data['Date'].dt.month
df2['day'] = data['Date'].dt.day

#添加定序编码
from sklearn.preprocessing import LabelEncoder
#训练
chars = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h',
       'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v',
       'w', 'x', 'y', 'z']
label1 = LabelEncoder()
label1.fit(chars)

label2 = LabelEncoder()
label2.fit(['NN','JJ','others'])
#应用
df2['char1'] = label1.transform(df2['char1'])
df2['char2'] = label1.transform(df2['char2'])
df2['char3'] = label1.transform(df2['char3'])
df2['char4'] = label1.transform(df2['char4'])
df2['char5'] = label1.transform(df2['char5'])
df2['tags'] = label2.transform(df2['tags'])
df2

,1 try,2 tries,3 tries,4 tries,5 tries,6 tries,7 or more tries (X),tags,week,char1,...,char3,char4,char5,Word feq,Vowels nums,Combined nums,Letter feq,Letter rep,month,day
0,1.000000,3.000000,23.000000,39.000000,24.000000,9.000000,1.000000,1,4,18,...,20,12,15,3284,1,0,19700,0,1,7
1,1.000000,5.000000,23.000000,31.000000,24.000000,14.000000,2.000000,1,5,2,...,0,13,10,2121,1,0,26000,0,1,8
2,1.000000,3.000000,13.000000,27.000000,30.000000,22.000000,4.000000,1,6,6,...,17,6,4,1762,2,1,27900,1,1,9
3,1.000000,4.000000,16.000000,30.000000,30.000000,17.000000,2.000000,1,0,16,...,4,17,24,1864,2,1,23700,0,1,10
4,0.990099,8.910891,34.653465,33.663366,15.841584,4.950495,0.990099,1,1,3,...,8,13,10,34617,1,0,27400,0,1,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
354,0.000000,2.000000,17.000000,35.000000,29.000000,14.000000,3.000000,1,1,2,...,13,3,14,3064,2,0,23400,1,12,27
355,0.000000,3.030303,21.212121,40.404040,25.252525,9.090909,1.010101,1,2,8,...,15,4,11,552,2,0,28700,0,12,28
356,0.000000,2.000000,16.000000,38.000000,30.000000,12.000000,2.000000,1,3,7,...,21,14,2,1715,2,0,26600,0,12,29
357,0.000000,4.040404,21.212121,38.383838,26.262626,9.090909,1.010101,1,4,12,...,11,0,17,324,2,0,29200,0,12,30
358,0.000000,2.020202,17.171717,37.373737,29.292929,12.121212,2.020202,2,5,12,...,13,11,24,834,1,0,25000,0,12,31

In [21]:
df2.to_excel('../data/机器学习特征工程_V3.xlsx',index = False)

In [22]:
#特定单词的特征转换
x_word = pd.DataFrame(data = {"tag":label2.transform(['NN']),
"week" : 2,
'char1':label1.transform(['e']),
'char2':label1.transform(['e']),
'char3':label1.transform(['r']),
'char4':label1.transform(['i']),
'char5':label1.transform(['e']),
'TOTAL':2272,
'countVowels_nums':4,
'countRoot_nums':1,
'alpha_nums':756,
'char_rep':2,
'month' : 3,
'day' : 1
})

x_word

,tag,week,char1,char2,char3,char4,char5,TOTAL,countVowels_nums,countRoot_nums,alpha_nums,char_rep,month,day
0,1,2,4,4,17,8,4,2272,4,1,756,2,3,1

In [23]:
df2.isnull().any()

1 try                  False
2 tries                False
3 tries                False
4 tries                False
5 tries                False
6 tries                False
7 or more tries (X)    False
tags                   False
week                   False
char1                  False
char2                  False
char3                  False
char4                  False
char5                  False
Word feq               False
Vowels nums            False
Combined nums          False
Letter feq             False
Letter rep             False
month                  False
day                    False
dtype: bool